html,
body {
   margin: 0;
   padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
}

.content-container {
  background: #1b1b1b;
  border-radius: 8px;
  position: relative;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container:before {
  content: "";
  background: linear-gradient(90deg, rgba(83, 156, 220,1) 0%, rgba(120, 247, 174,1) 50%, rgba(141, 88, 175,1) 100%);
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  border-radius: 12px;
}
